option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: todolist_api.wsgi:application
container_commands:
    01collectstatic:
        command: "pipenv run python manage.py collectstatic"
    02migrate:
        command: "pipenv run python manage.py migrate"
        leader_only: true